@font-face {
    font-family: font-extralight;
    src: url("./fonts/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: font-thin;
    src: url("./fonts/Poppins-Thin.ttf");
}
@font-face {
    font-family: font-light;
    src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
    font-family: font-regular;
    src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: font-medium;
    src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: font-semibold;
    src: url("./fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: font-bold;
    src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: font-extrabold;
    src: url("./fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: font-black;
    src: url("./fonts/Poppins-Black.ttf");
}

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
    height: min(100vh);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main > i {
    font-size: 84px;
    transition: ease 0.3s;
}

@media screen and (max-width: 440px) {
    #main i {
        font-size: 14vw;
    }
}

#main div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#main div:nth-child(2) label {
    font-size: 52px;
    font-weight: 600;
    font-family: font-semibold;
    letter-spacing: 6px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    transition: ease 0.3s;
}

#main div:nth-child(2) label span {
    font-size: 48px;
    letter-spacing: 3px;
    font-family: font-thin;
    font-weight: 200;
    transition: ease 0.3s;
}

@media screen and (max-width: 440px) {
    #main div:nth-child(2) label{
        font-size: 7vw;
    }
    #main div:nth-child(2) label span {
        font-size: 6.9vw;
    }
}

#main div:nth-child(2) input {
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-family: font-regular;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.153);
    transition: ease 0.3s;
}

@media screen and (max-width: 440px) {
    #main div:nth-child(2) input {
        width: 230px;
        font-size: 5vw;
        padding: 10px 15px;
    }
}

#main div:nth-child(2) input:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

#main .btn-area {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#main div:nth-child(2) button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: ease 0.4s;
}

#main div:nth-child(2) button:hover {
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.767);
    background-color: #555;
}

#main div:nth-child(2) button i {
    font-size: 30px;
    color: black;
}

#main div:nth-child(2) button:hover i {
    color: white;
}

@media screen and (max-width: 440px) {
    #main div:nth-child(2) button {
        padding: 6px 12px;
    }
    #main div:nth-child(2) button i {
        font-size: 4vw;
    }
}

#main > div:nth-child(3){
    margin-top: 40px;
    padding: 10px 0px 20px 0px;
    width: 340px;
    height: 130px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 440px) {
    #main > div:nth-child(3){
        width: 80vw;
    }
}

#main div:nth-child(3) h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: font-regular;
    font-weight: 300;
    font-size: 16px;
}

#display {
    text-transform: capitalize;
    font-family: font-regular;
    font-size: 24px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.126);
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#display .clipboard {
    position: absolute;
    right: 10px;
    height: 32px;
    width: 32px;
    background-color: rgba(128, 128, 128, 0.344);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#display .clipboard i {
    font-size: 22px;
}

@media screen and (max-width: 440px) {
    #display {
        font-size: 5vw;
    }
}

#main > p {
    position: absolute;
    bottom: 20px;
    font-family: font-regular;
    font-size: 14px;
    letter-spacing: 1px;
    color: #888;
    transition: ease 0.3s;
}

@media screen and (max-width: 440px) {
    #main > p {
        font-size: min(10px);
    }
}